.checkout-page{

padding:40px;

direction:rtl;

max-width:700px;

margin:auto;

min-height:100vh;

}





.checkout-page h2{

color:#071A36;

text-align:center;

font-size:32px;

margin-bottom:30px;

}







.checkout-form{

display:flex;

flex-direction:column;

gap:15px;

background:#fff;

padding:30px;

border-radius:20px;

box-shadow:

0 10px 30px rgba(0,0,0,.1);

border:1px solid #D4AF37;

}







.checkout-form input,
.checkout-form textarea{


padding:15px;


border:1px solid #ddd;


border-radius:12px;


font-size:16px;


font-family:Cairo;


outline:none;


transition:.3s;


}





.checkout-form input:focus,
.checkout-form textarea:focus{


border-color:#D4AF37;


box-shadow:0 0 8px rgba(212,175,55,.3);


}






.checkout-form textarea{


height:120px;


resize:none;


}








.checkout-summary{


background:#F8FAFD;


padding:20px;


border-radius:15px;


border:1px solid #D4AF37;


margin-top:15px;


}





.checkout-summary h3{


color:#071A36;


margin-bottom:15px;


}





.checkout-item{


display:flex;


justify-content:space-between;


padding:10px 0;


border-bottom:1px solid #ddd;


color:#555;


}






.checkout-summary span{


color:#D4AF37;


font-weight:bold;


}








.checkout-btn{


background:#0B1F3A;


color:white;


border:1px solid #D4AF37;


padding:16px;


border-radius:12px;


font-size:18px;


font-weight:bold;


cursor:pointer;


transition:.3s;


}





.checkout-btn:hover{


background:#D4AF37;


color:#071A36;


}







.back-btn{


background:#071A36;


color:#F4D06F;


border:1px solid #D4AF37;


padding:14px;


border-radius:12px;


font-size:17px;


font-weight:bold;


cursor:pointer;


transition:.3s;


}





.back-btn:hover{


background:#D4AF37;


color:#071A36;


}







.checkout-empty{


text-align:center;


padding:100px;


direction:rtl;


}





.checkout-empty h2{


color:#071A36;


margin-bottom:25px;


}






@media(max-width:700px){


.checkout-page{

padding:20px;

}



.checkout-form{

padding:20px;

}



.checkout-page h2{

font-size:25px;

}



}