.checkout-page {

  padding:40px 20px;

  direction:rtl;

  max-width:750px;

  margin:auto;

  min-height:100vh;

  font-family:Cairo, sans-serif;

}


/* العنوان */

.checkout-page h2 {

  color:#071A36;

  text-align:center;

  font-size:32px;

  font-weight:800;

  margin-bottom:30px;

}


/* الفورم */

.checkout-form {

  display:flex;

  flex-direction:column;

  gap:16px;

  background:#fff;

  padding:35px;

  border-radius:20px;

  box-shadow:
  0 10px 30px rgba(11,31,58,.12);

  border:1px solid #D4AF37;

}



.checkout-form input,
.checkout-form textarea {

  padding:15px;

  border:1px solid #d5dce5;

  border-radius:12px;

  font-size:16px;

  font-family:Cairo,sans-serif;

  outline:none;

  transition:.3s;

}



.checkout-form input:focus,
.checkout-form textarea:focus {

  border-color:#D4AF37;

  box-shadow:
  0 0 0 3px rgba(212,175,55,.18);

}



.checkout-form textarea {

  height:120px;

  resize:none;

}


/* ملخص الطلب */

.checkout-summary {

  background:#F8FAFD;

  padding:20px;

  border-radius:15px;

  border:1px solid #D4AF37;

}



.checkout-summary h3 {

  color:#071A36;

  margin-bottom:15px;

  font-size:22px;

}



.checkout-item {

  display:flex;

  justify-content:space-between;

  align-items:center;

  gap:10px;

  padding:12px 0;

  border-bottom:1px solid #ddd;

  color:#555;

}



.checkout-item:last-child{

  border-bottom:none;

}



.checkout-summary span {

  color:#D4AF37;

  font-weight:800;

}


/* السعر الإجمالي */

.checkout-total{

  margin-top:15px;

  padding:15px;

  background:#071A36;

  color:#F4D06F;

  border-radius:12px;

  font-size:22px;

  font-weight:bold;

  text-align:center;

}


/* زر الطلب */

.checkout-btn {

  background:#0B1F3A;

  color:white;

  border:1px solid #D4AF37;

  padding:16px;

  border-radius:12px;

  font-size:18px;

  font-weight:bold;

  cursor:pointer;

  transition:.3s;

}



.checkout-btn:hover {

  background:#D4AF37;

  color:#071A36;

  transform:translateY(-2px);

}



/* زر الرجوع */

.back-btn {

  background:#fff;

  color:#071A36;

  border:1px solid #071A36;

  padding:14px;

  border-radius:12px;

  font-size:17px;

  font-weight:bold;

  cursor:pointer;

  transition:.3s;

}



.back-btn:hover {

  background:#071A36;

  color:#F4D06F;

}



/* السلة فارغة */

.checkout-empty {

  text-align:center;

  padding:100px 20px;

  direction:rtl;

}



.checkout-empty h2 {

  color:#071A36;

  margin-bottom:25px;

}



/* الموبايل */

@media(max-width:700px){


.checkout-page{

  padding:20px 12px;

}


.checkout-page h2{

  font-size:25px;

}


.checkout-form{

  padding:20px;

  border-radius:15px;

}


.checkout-form input,
.checkout-form textarea{

  font-size:15px;

}


.checkout-item{

  flex-direction:column;

  align-items:flex-start;

}


.checkout-btn{

  font-size:16px;

}


}