.main-header{

height:70px;

background:#0B1F3A;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 40px;

direction:rtl;

position:sticky;

top:0;

z-index:1000;

}


.header-logo{

color:#F4D06F;

font-size:28px;

font-weight:bold;

cursor:pointer;

}



.header-links{

display:flex;

gap:15px;

}



.header-links button{

background:#D4AF37;

color:#071A36;

border:none;

padding:12px 20px;

border-radius:10px;

font-weight:bold;

cursor:pointer;

}



.header-links button:hover{

background:white;

}





@media(max-width:600px){


.main-header{

padding:0 15px;

}



.header-logo{

font-size:20px;

}



.header-links button{

padding:10px;

}


}